*{
    font-family: 'Itim', cursive;
}
body{
    background-color: rgb(214, 207, 235);

}
header {
        background-color:REBECCAPURPLE;
        height: 60px;

    }


header nav {
    font-family: 'Itim', cursive;
    padding: 20px 10px;
  
}
header nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 100px;
}
    header img {
        width: 58px;
        position:static;
        margin: 10;
        border: blanchedalmond;
        float: left;
    }
    main h1{
        text-align: center;
        color:rgb(56, 25, 56);
        font-size: x-large;
        margin: 5px;
        

    }
    main {
        
        
        margin-top: 99px;
        margin-bottom: 126px;
    }
    main table  {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 300px;
         
}
        
    
    table, th ,td {
        border: 2px solid;
        font-size: larger;  
        padding: 30px;
    }
     table th{
        height: 7px;
        text-align: center;
        vertical-align: top;
        background-color: rgb(146, 94, 167);
      }
      table,td {
        border-bottom: rgb(26, 15, 25) 2px double;
      }
      footer {
        background-color: REBECCAPURPLE;
        height: 60px;
        margin-top: 1px;
        
    }
      footer img{
        width: 58px;
        float: left;
        position: fixed;
        margin: 10;
        border: blanchedalmond;
        float: left; 
        top: 609px;
      }
      footer p{
        text-align: center;
        color: white;
      }

   td:hover{
    color:rgb(7, 5, 6);
    background-color:  rgb(72, 42, 97);

    }
   