*{
    font-family: 'Itim', cursive;
}
body{
    background-color: rgb(214, 207, 235);

}
header {
        background-color:REBECCAPURPLE;
        height: 60px;

    }


header nav {
    font-family: 'Itim', cursive;
    padding: 20px 10px;
  
}
header nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 100px;
}
    header img {
        width: 58px;

        position:static;

        margin: 10;
        border: blanchedalmond;
        float: left;
    }
    main h1{
        text-align: center;

        color:rgb(56, 25, 56);
<<<<<<< HEAD
        font-size: x-large;
        margin: 5px;
=======

>>>>>>> a18fedab5c2ffc7aa5ed51c7372fc12533cc2f39
        

    }
    main {
        
        
        margin-top: 99px;
        margin-bottom: 126px;
    }
    main table  {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 300px;
         
<<<<<<< HEAD
=======
        border-collapse: collapse;


>>>>>>> a18fedab5c2ffc7aa5ed51c7372fc12533cc2f39
}
        
    
    table, th ,td {

        border: 2px solid;
        font-size: larger;  
        padding: 30px;
    }
     table th{
        height: 7px;
        text-align: center;
        vertical-align: top;
        background-color: rgb(146, 94, 167);
      }
      table,td {
        border-bottom: rgb(26, 15, 25) 2px double;

        border: 1px solid;
        width: 20px;
        height: 19px;
      }
     table th{
        height: 7px;
      }
      table,td {
        text-align: center;

      }
      footer {
        background-color: REBECCAPURPLE;
        height: 60px;
        margin-top: 1px;
        
    }
      footer img{
        width: 58px;
        float: left;
        position: fixed;
        margin: 10;
        border: blanchedalmond;
        float: left; 
        top: 609px;
      }
      footer p{
        text-align: center;
        color: white;
      }
<<<<<<< HEAD

=======
      main h1 {
       
        font-size: x-large;

        margin: 5px;
    }
    
    th, td {
        padding: 15px;
        text-align: left;
        width: 600px;
    }
>>>>>>> a18fedab5c2ffc7aa5ed51c7372fc12533cc2f39
   td:hover{
    color:rgb(7, 5, 6);
    background-color:  rgb(72, 42, 97);

    }
   

    }
    main h1 {
        margin: 5px;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }

